[Unit]
Description=Overlay VXLAN Network for %I
After=network.target

[Service]
ExecStart=/usr/bin/bash /usr/local/sbin/vxlan create %I
ExecStop=/usr/bin/bash /usr/local/sbin/vxlan destroy %I
ExecReload=/usr/bin/bash /usr/local/sbin/vxlan reload %I
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
